/* 
                                                       Mustafa Omran
                                                promustafaomran@hotmail.com

*/

*{
    padding: 0;
    margin: 0;
}

#header,#footer{
    font-family: arvo;
}

#content{
    font-family: arvo;
}

@font-face{
    font-family: arvo;
    src:url(../fonts/Arvo-Regular.ttf);
}

@font-face{
    font-family: dosis;
    src:url(../fonts/Dosis-Regular.ttf);
}
